doctype html
html
  head
    title="Hubble2"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Megrim|Roboto+Slab:300" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Questrial|Old+Standard+TT:400,400italic,700" rel="stylesheet" type="text/css")
    style.
      .btn-default {
          border-color: white;
      }
      .well {
        box-shadow: 0 0 100px pink;
        background-color: rgba(0, 0, 0, 0.80);
        border-radius: 30px;
        padding:40px;
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
