doctype html
html
  head
    meta(charset='utf-8')
    title AIS Metrics Reports
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css', rel='stylesheet')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../../../../css/styles.css')
    style.

  body.bg-faded(style="padding-left: 10px;padding-right: 10px;")
    - var cnt =1
    //include ais-metrics-nav-bar
    br
    br
    br
    section#two
      .container.wow.fadeInUp(style="margin-left: 5%;margin-right: 5%;max-width: 100%;")
        .card-deck-wrapper
          .card-deck(align="center" style="table-layout: auto;")
            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 5
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="90" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In QA)

                li.list-group-item(style="background:lightblue;") Vyas Mohan

            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 2
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan

            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 13
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan
            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 13
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan
            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 13
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan
          br
          .card-deck(align="center" style="table-layout: auto;")
            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 1
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan

            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 3
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan

            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 8
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan

            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 13
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan

            // card1
            .card
              .card-block(style="background:lightblue;")
                .row
                  .col-sm-10
                    h5.card-title.text-xs-left
                      | AIS-6118
                      br
                      span(style="font-size:12px") R2 Perf: Virtualize R2 Notification service
                  .col-sm-2
                    h4.card-title.text-xs-middle(style="background: #cccccc; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 1.6em; ") 13
              ul.list-group.list-group-flush(style="font-size:12px")
                li.list-group-item
                  .row
                    .col-sm-4(align="left")
                      span HIGH
                    .col-sm-4
                      span ais-dcs
                    .col-sm-4(align="right")
                      span DCS 3.9.0
                li.list-group-item
                  .row
                    .col-sm-12
                      progress(class="progress progress-success" value="10" max="100" aria-describedby="example-caption-2" style="text-align: left;height: 1.5rem;margin-bottom: 0rem;")
                    .col-sm-12(style="align:left;font-size:10px")
                      span (In Analysis)

                li.list-group-item(style="background:lightblue;") Vyas Mohan

    // scripts loaded here
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js')
    script(src='./../../../js/scripts.js')
